html{
    scroll-behavior: smooth;
}

.header__legend{
    width: 100%;    background: linear-gradient(to right, rgba(0, 0, 70, 0.8), rgba(28, 181, 224, 0.8)), url("../img/bigstock-Telemedicine-Concept-Doctor-W-273021511-scaled.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.nav__main{
    height: 10vh;
}

.header__container{
    height: 90vh;
}

.title__legend{
    margin-top: 200px;
    margin-bottom: 40px;
}

.header__btn{
    border: 2px solid #000000;
    padding: 20px 30px;
    color: #ffffff;
}

.text__legend{
    font-size: 30px;
    font-weight: 100;
}

.menu__one > li > a{
    color: #ffffff;
}

.menu__one > li > a:hover{
    text-decoration: underline;
}
